*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: Helvetica, Arial
}

.form{
  text-align: center;
}
.searchResults {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}
.type-container-btn{
  color: #696969;
  font-size: 0.8rem;
  height:20px;
  width:100px;
  border:none;
  background-color: #FFFF;
  margin: 0 30px 15px 30px;
  display:inline-block;
}

.type-container-btn:hover{
  color:#000000;
  text-decoration: underline;
}

.type-container-btn-toggle{
  color:#000000;
  font-size: 0.8rem;
  height:20px;
  width:100px;
  border:none;
  background-color: #FFFF;
  margin: 0 30px 15px 30px;
  display:inline-block;
  text-decoration: underline;
}

.signup-title{
  font-family: sans-serif;
  padding:45px 0 20px 0;
  font-size: 2.2rem;
  text-align: center;
}

.form-container-input{
  margin-bottom:8px;
}

.signup-btn{
  border: none;
  border-radius: 5px;
  background-color: #1DB954;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:100%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.signup-btn:active{
  background-color: #77d598;
}

.form-container-login{
  width:30%;
  height:380px;
  position: absolute;
  margin-top:140px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #FFFF;
  box-shadow: 0 2px 5px #ccc;
}

.login-title{
  font-family: sans-serif;
  padding:40px 0 25px 0;
  font-size: 2.2rem;
  text-align: center;
}

.login-btn{
  border: none;
  border-radius: 5px;
  background-color: #24a0ed;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:100%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.login-btn:active{
  background-color: #91cff6;
}

.candidate-registration-container{
  justify-content:space-between;
  border-radius: 5px;
  position: relative;
  padding: 25px 15px;
  margin: auto;
  margin-top: 40px;
  width:40%;
  height: 650px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  display: block;
  overflow: auto;
}

.candidate-registration-container h1{
font-family: Helvetica, Arial;
margin:50px 0 10px 0;
text-align: center;
font-size:2.2rem;
}

.candidate-registration-container p{
font-size:1eem;
margin:10px 0px 2px 3px
}

.candidate-registration-container input{
  height:1.5rem;
}

.candidate-registration-name-flex{
  display: flex;
  justify-content: space-between;
}

.candidate-registration-name-flex input{
  width: 260px;
}

.candidate-registration-info input{
  width: 550px;
}

.candidate-registration-textarea{
  width: 550px;
  max-width: 550px;
  height:200px;
}

.candidate-registration-top-btn{
height:30px;
width:40%;
border: none;
border-radius: 5px;
background-color: #1DB954;
color:#FFFF;
display: block;
font-size: 1.2rem;
font-weight: bold;
height:42px;
margin: auto;
text-align: center;
text-decoration: none;
}

.candidate-registration-btn{
border: none;
border-radius: 5px;
background-color: #24a0ed;
color:#FFFF;
display: block;
font-size: 1.2rem;
font-weight: bold;
height:42px;
width:30%;
margin: 20px auto;
text-align: center;
text-decoration: none;
}

.candidate-registration-btn:active{
background-color: #91cff6;
}


.profile-page-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 50%;
  margin: 100px auto;
}

.profile-page-title {
  color: grey;
  font-size: 3rem;
  text-align: center;
  padding: 30px;
}

.profile-page-button-flex{
  display: flex;
  justify-content: center;
}

.profile-page-button-call {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #24a0ed;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width:50%
}

.profile-page-button-email{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1DB954;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width:50%
}

.profile-page-info{
  font-size: 18px;
  text-align: left;
  margin: 0 0 20px 30px;
  color: rgb(85, 83, 83);;
}


button:hover, a:hover {
  opacity: 0.7;
}

.job-apply-btn{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #24a0ed;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width:100%

}

